<ion-view title="historical">
<ion-nav-title>Historical Records</ion-nav-title>
<ion-nav-bar class="bar-dark">
    <ion-nav-back-button class="button-clear">
    Back
    </ion-nav-back-button>
</ion-nav-bar>
<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-code-working" ui-sref="howto"></button>
</ion-nav-buttons>
  <ion-content>
    <div ng-controller='historicalCtrl'>
     	<ion-list>
     		<ion-item ng-repeat="item in items">
     			<!--<a ui-sref={{item.ghostName}}>{{item.ghostName}}</a>-->
          <span>{{item.ghostName}}</span>
     		</ion-item>
 		</ion-list>
    </div>
  </ion-content>
</ion-view>