<ion-view title="howto">
<ion-nav-buttons side="right">
  <button class="button" ui-sref="user">Skip</button>
</ion-nav-buttons>
<ion-nav-title></ion-nav-title>
<ion-content>
  <div ng-controller='howtoCtrl'>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box box1">Blue</div>
      </ion-slide>
      <ion-slide>
        <div class="box box2"><h1>YELLOW</h1></div>
      </ion-slide>
      <ion-slide>
        <div class="box box3"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </div>
  
</ion-content>
</ion-view>