<ion-view title="journey" padding="true">
  <ion-nav-title>3days 4 hours</ion-nav-title>
   <ion-content padding="true">
      <div>
         <ion-list ng-controller="ghostHistory">
            <ion-item ng-repeat="item in items"
               class="item-thumbnail-left">
               <!--<img ng-src="{{item.img}}">-->
               <img src="http://weknowyourdreamz.com/images/ghost/ghost-01.jpg">
               <h2>{{item.title}}</h2>
               <p>{{item.description}}</p>
               <ion-option-button class="button-positive"
                  ng-click="share(item)">
                  Share
               </ion-option-button>
               <ion-option-button class="button-assertive"
                  ng-click="edit(item)">
                  Edit
               </ion-option-button>
               <ion-delete-button class="ion-minus-circled"
                  ng-click="items.splice($index, 1)">
               </ion-delete-button>
               <ion-reorder-button class="ion-navicon"
                  on-reorder="reorderItem(item, $fromIndex, $toIndex)">
               </ion-reorder-button>
            </ion-item>
         </ion-list>
      </div>
   </ion-content>
</ion-view>