<ion-view title="journey">
  <ion-content class="padding">
      <section id="cd-timeline" class="cd-container">
        <div ng-repeat="activity in timeline">
          <div class="cd-timeline-block">
          	<!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            
             <p class="pic-time">{{activity.date | date: "d MMM yy"}}</p>
              <!--<img ng-src="/img/{{activity.profilePicture}}"></img>-->
            
            <!-- CUSTOMIZE YOUR STYLE USING DEFAULT IONIC VALUES SUCH AS POSITIVE, CALM, BALANCED,... -->
            <div class="cd-timeline-content">
            	<!--<h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>-->
            	<!--<p class="marginTop5 cd-author">by {{activity.author}} on {{activity.date | date: "d MMM"}}</p>-->
              <img ng-src="/img/timeline/{{activity.picture}}"></img>
            	
            </div>
          </div>
        </div>
      </section>
  </ion-content>
</ion-view>