<ion-view title="">
  <!--<ion-nav-title>3days 4 hours</ion-nav-title>-->
	<ion-content padding="true" ng-controller="introCtrl">
     <h1>{{ghostName}}</h1>
    <div padding="true">
      <div class="padding-lr20">
        <p>{{ghostIntro}}</p>
      </div>
      
     <button class="button button-link button-block" ui-sref="bio">
     &raquo; My Biography &laquo;
    </button>
     <button class="button button-link button-block" ui-sref="journey">
    &raquo;  My Journeys &laquo;
    </button>
    </div>   
	</ion-content>
  <div class="bar bar-clear bar-footer">
    <button class="button button-block" ui-sref="quest">Start Quest</button>
  </div>
</ion-view>