<ion-view title="meetGhost">
  <ion-nav-title>3days 4 hours</ion-nav-title>
	<ion-content padding="true">
    <img src="http://orig12.deviantart.net/d929/f/2013/013/0/1/profile_picture_by_little_ghost_girl-d5rd87g.jpg" width="100%">
    <div padding="true">
     <button class="button button-small button-block button-dark" ui-sref="bio">
      My Biography
    </button>
     <button class="button button-small button-block button-dark" ui-sref="journey">
      My Journeys
    </button>
    </div>   
	</ion-content>
  <div class="bar bar-footer">
  <button class="button button-clear button-block" ui-sref="quest">Start Quest</button>
</div>
</ion-view>