<ion-view padding="true">
  <ion-nav-title>Quest</ion-nav-title>
	<ion-content padding="true">
    <div ng-controller="questCtrl">
      <h2>{{questTitle}}</h2>
      <div class="quest-img-container">
        <img src="img/quests/camera.png">
      </div>
      
      <div class="padding-lr20">
      <p>{{questIntro}}</p>
      
       <p>You have <strong class="highlight">{{questDuration}}</strong> to solve the task.</p>
       </div>
      
      <a ui-sref="questDescription" class="button button-block">Accept Quest</a>
      <a ui-sref="reject" class="button button-block button-link">Reject Quest</a>
    </div>
	</ion-content>
</ion-view>