<style type="text/css">
  h1,h2{
    text-align:center;
  }
</style>
<ion-view title="user">
<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-code-working" ui-sref="howto"></button>
</ion-nav-buttons>
  <ion-content>
    <div ng-controller='userCtrl'>
      <h2>The container is empty!</h2>
      <h1 >{{experience}} xp<h1>
      <button class="button button-full button-dark" ui-sref="accomplished">Accomplished Tasks</button>
      <button class="button button-full button-dark" ui-sref="historical">Historical Record</button>
    </div>
  </ion-content>
</ion-view>